@mixin transition($attr, $time, $type) {
    transition: $attr $time $type !important;
    -moz-transition: $attr $time $type !important;
    -o-transition: $attr $time $type !important;
    -webkit-transition: $attr $time $type !important;
}

@mixin btn-link() {
    text-decoration: none !important;
    background-color: $darker-yellow;
    padding: 1em 2em;
    color: white !important;
    border: none;
    border-radius: 50px;

    &:hover {
        color: $yellow !important;
        box-shadow: 0 0 5px $darker-yellow !important;
        text-decoration: none !important;
    }
}
