@import "variables";
@import "mixins";

html {
    scroll-behavior: smooth;
}

p {
    line-height: 1.8 !important;
}

#infos-header-block {
    @media (max-width: 425px) {
        justify-content: center !important;
        align-items: center !important;
    }
}

#infos-header {
    li {
        font-size: 1.5rem;
        color: $darker-yellow;
    }

    @media (max-width: 425px) {
        display: none !important;
    }
}

#nav-menu {
    background-color: $dark-yellow;

    a {
        color: white;

        &:hover {
            color: $yellow;
        }
    }
}

.dropdown-menu {
    background-color: $dark-yellow;
    border: none;
    border-radius: 0;

    a {
        color: white;

        &:hover {
            color: $yellow;
            background-color: inherit;
        }
    }
}

#social-icons-nav {
    li {
        font-size: 1.3rem;
    }

    @media (max-width: 425px) {
        display: none !important;
    }
}

.active {
    color: $yellow !important;
}

.btn-link {
    @include btn-link();
}

#main-header {
    @include background-image("/assets/img/header-bg.jpg", $dark-yellow);
    background-attachment: fixed;
    height: 670px;

    @media (max-width: 425px) {
        height: 370px;
    }

    .container {
        z-index: 1;
    }

    h1 {
        margin-top: 2.3em;
        color: $yellow;

        @media (max-width: 425px) {
            display: none;
        }
    }

    p {
        color: white;
        font-size: 2.5rem;

        @media (max-width: 425px) {
            font-size: 1.5rem;
            margin-top: 2em;
            align-items: center;
            text-align: justify;
        }
    }

    img {
        position: absolute;
        margin-top: 21.3em;
        z-index: 0;

        @media (max-width: 425px) {
            display: none;
        }
    }

    a {
        position: relative;
        z-index: 2;
        top: 50px;

        @media (max-width: 425px) {
            display: block;
            top: 15px;
            width: 100%;
            text-align: center;
        }
    }

    a:last-child {
        @media (max-width: 425px) {
            margin: 1em 0;
        }
    }
}

#header {
    @include background-image("/assets/img/logos/vague.png", $dark-yellow);
    padding: 5em 0;

    h1 {
        color: $yellow;
    }

    form {
        input[type=submit] {
            @media (max-width: 425px) {
                width: 100%;
                margin-top: 1em;
            }
        }

        input[type=search] {
            @media (max-width: 425px) {
                width: 100%;
            }
        }
    }
}

.section-header {
    padding: 5em 0;

    h2, h4 {
        text-align: center;
    }

    h2 {
        color: $dark-yellow;
        margin-bottom: .5em;

        @media (max-width: 425px) {
            font-size: 1.8rem;
        }
    }

    h4 {
        color: $darker-yellow;
        font-weight: bold;
    }

    hr {
        width: 100px;
        border-width: 10px;
        border-color: $darker-yellow;
        border-radius: 50px;
        margin: 0 auto;
    }

    .lead {
        width: 800px;
        margin: 0 auto;

        @media (max-width: 425px) {
            display: none;
        }
    }
}

#section-about {
    margin-bottom: 4em;

    h3 {
        color: $darker-yellow;
        font-weight: bold;

        @media (max-width: 425px) {
            text-align: center;
        }
    }

    span {
        font-weight: bold;
        color: $darker-yellow;
    }

    li {
        color: $darker-yellow;
        font-size: 1.3rem;
        margin-right: .5em;
    }

    .col {
        padding: 0 2em;
    }
}

#section-word {
    padding: 5em 0;
    @include background-image("/assets/img/logos/vague.png", $dark-yellow);

    h5 {
        color: $yellow;
    }

    li {
        color: $lighter-yellow;
    }

    li {
        font-size: 3rem;
        padding: 0 .3em;
    }

    p {
        color: white;
    }

    img {
        width: 100px;
    }

    .container > div {
        @media (max-width: 425px) {
            flex-direction: column;
            justify-content: center;
        }

        #avatar {
            order: 2;
            margin-top: 1em;
        }
    }
}

.section-expertise {
    margin-bottom: 3em;

    li {
        font-size: 3.5rem;
        color: $darker-yellow;
        padding-right: .5em;

        @media (max-width: 425px) {
            font-size: 2.5rem;
        }
    }

    h4 {
        color: $darker-yellow;
    }

    a {
        color: $darker-yellow;

        &:hover {
            text-decoration: underline;
        }
    }

    .col {
        padding: 2em;
    }

    .expertise-infos {
        p {
            @media (max-width: 425px) {
                display: none;
            }
        }

        h4 {
            @media (max-width: 425px) {
                font-size: 1.3rem;
                color: black !important;
            }
        }
    }
}

#section-contact-now {
    @include background-image("/assets/img/logos/vague.png", $dark-yellow);
    padding: 5em 0;

    .container {
        @media (max-width: 425px) {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }

    p {
        color: $yellow;
        font-size: 1.5rem;

        @media (max-width: 425px) {
            font-size: 1.2rem;
        }
    }

    a {
        @media (max-width: 425px) {
            width: 100%;
            display: block;
            align-items: center;
            text-align: center;
        }
    }
}

.section-formations {
    a {
        color: $lighter-yellow;

        &:hover {
            color: $yellow;
            text-decoration: none;
        }
    }

    .col {
        padding: 0 5em;

        @media (max-width: 425px) {
            padding: 0 1em;
        }
    }

    .col:last-child {
        @media (max-width: 425px) {
            margin-top: 5em;
        }
    }

    .desc {
        background: linear-gradient(to bottom, $darker-yellow, $dark-yellow);
        padding: 2em 2em;
        border-bottom-left-radius: 18px;
        border-bottom-right-radius: 18px;

        &:hover {
            box-shadow: 0 0 5px $darker-yellow !important;
        }
    }

    p {
        color: white;
        margin-top: 1em;
    }
}

#section-news {
    .col-lg-7, .col, .col-lg-6 {
        background: linear-gradient(to right, $darker-yellow, $dark-yellow);
        border: none;
        border-radius: 18px;
        padding: 2em;
        padding-top: 5em;
        margin: 0 1em;

    	a:nth-child(1) {
    	    color: $yellow;
    	    font-size: 1.5rem;

    	    &:hover {
        		color: $yellow;
        		text-decoration: none;
    	    }
    	}
    }

    .col:last-child, .col-lg-6:last-child {
        @media (max-width: 425px) {
            margin-top: 3em;
        }
    }

    p {
	    color: white;
    }
}

._text-muted {
    color: white;
    opacity: (0.5);
}

.read-more {
    color: $lighter-yellow;

    &:hover {
    	color: $yellow;
    	text-decoration:  none;
    }
}

#section-newsletter {
    @include background-image("/assets/img/logos/vague.png", $dark-yellow);
    padding: 5em 0;
    margin-top: 7em;

    p {
        color: $yellow;
        font-size: 1.5rem;

        @media (max-width: 425px) {
            font-size: 1.2rem;
        }
    }

    input[type=submit] {
        @media (max-width: 425px) {
            margin-left: 0;
            margin-top: 1em;
            display: block;
            width: 100%;
            text-align: center;
        }
    }

    input[type=email] {
        @media (max-width: 425px) {
            width: 100% !important;
        }
    }
}

#header, #section-newsletter {
    input[type=email], input[type=search] {
        border: none;
        border-radius: 50px;
        padding: .8em 1em;
        width: 80%;
    }

    input[type=search] {
        width: 50%;
    }

    input[type=submit] {
        margin-left: 1em;

        @media (max-width: 425px) {
            margin-left: 0;
        }
    }
}

#section-testimonials {
    .col-lg-4 {
        background: linear-gradient(to bottom, $darker-yellow, $dark-yellow);
        border: none;
        border-radius: 18px;
        padding: 1em 2em;
        margin: 2em 1em;
        position: relative;
    }

    .col-lg-4:nth-child(2), .col-lg-4:nth-child(3) {
        @media (max-width: 425px) {
            margin-top: 5em;
        }
    }

    img {
        width: 130px;
        border: 2px solid $darker-yellow;
        border-radius: 50%;
        position: absolute;
        top: -80px;
        left: 110px;

        @media (max-width: 320px) {
            left: 80px;
        }

        @media (max-width: 425px) {
            left: 135px;
        }
    }

    li {
        margin-top: 1.5em;
        margin-bottom: .5em;
        font-size: 3rem;
        color: $lighter-yellow;
    }

    h5 {
        color: $yellow;
    }

    p {
        color: white;
    }
}

footer {
    background: linear-gradient(to right, $darker-yellow, $dark-yellow);
    padding: 3em 0;
    color: white;

    h5, h3 {
        color: $yellow;
    }

    img {
        width: 250px;
    }

    .col {
        hr {
            width: 100px;
            border-width: 5px;
            border-color: $lighter-yellow;
            border-radius: 50px;
            margin: 0;
        }

        .fas {
            font-size: 1.3rem;
        }
    }

    ul {
        a {
            color: white;

            &:hover {
                color: $yellow;
            }
        }
    }

    p {
        a {
            color: $yellow;

            &:hover {
                color: $yellow;
                text-decoration: none;
            }
        }
    }

    .list-inline {
        li {
            font-size: 1.3rem;
        }
    }

    hr {
        border-width: 5px;
        border-color: $lighter-yellow;
        border-radius: 50px;
    }
}

#section-certifications {
    .col {
        padding: 0 1em !important;
    }

    .container {
        .row {
            .col:first-child {
                @media (max-width: 425px) {
                    margin-bottom: 5em;
                }
            }
        }
    }

    h4 {
        color: $lighter-yellow;
    }
}

#section-fdfp {
    li {
        color: $darker-yellow;
        font-size: 3.5rem;
        padding-right: .5em;
    }

    .col {
        padding: 2em;
    }

    h4 {
        @media (max-width: 425px) {
            font-size: 1.3rem;
        }
    }
}

#section-contact {
    margin-bottom: 5em;

    .col-lg-4 {
        background: linear-gradient(to bottom, $darker-yellow, $dark-yellow);
        border: none;
        border-radius: 18px;
        padding: 2em;
        color: white;

        @media (max-width: 425px) {
            margin: 0 1em;
            margin-top: 2em;
        }
    }

    li {
        font-size: 1.3rem;
    }

    input[type=text], input[type=email], textarea {
        border: 1px solid black;
        border-radius: 18px;
        border-color: $darker-yellow;
        padding: .8em 1em !important;
    }

    input[type=text], input[type=email] {
        border-radius: 50px !important;

        @media (max-width: 425px) {
            width: 100% !important;
            display: block !important;
        }
    }

    input[type=submit] {
        @media (max-width: 425px) {
            width: 100%;
            display: block;
        }
    }

    h4 {
        color: $yellow;
    }

    hr {
        width: 100px;
        border-width: 5px;
        border-color: $lighter-yellow;
        border-radius: 50px;
        margin: 0;
    }

    form > div {
        @media (max-width: 425px) {
            flex-direction: column;
            justify-content: center;
        }

        .d-flex:last-child {
            @media (max-width: 425px) {
                margin-top: 1em;
            }
        }
    }

    label {
        @media (max-width: 425px) {
            text-align: center;
        }
    }
}

#section-presentation {
    margin-top: 5em;

    h3 {
        color: $darker-yellow;
        font-weight: bold;
    }

    span {
        font-weight: bold;
        color: $darker-yellow;
    }

    li {
        color: $darker-yellow;
        font-size: 1.3rem;
        margin-right: .5em;
    }

    .col {
        padding: 0 2em;
    }

    img {
        @media (max-width: 425px) {
            display: none;
        }
    }
}

#section-team {
    .team-card {
        padding: 0 2em;

        div {
            background: linear-gradient(to bottom, $darker-yellow, $dark-yellow);
            padding: .3em .5em;
            border-bottom-left-radius: 18px;
            border-bottom-right-radius: 18px;

            &:hover {
                box-shadow: 0 0 5px $darker-yellow !important;
            }

            h5 {
                color: $yellow;
            }

            p {
                margin-bottom: .4em;
            }
        }
    }
}

#section-jobs {
    margin: 5em 0;

    h4 {
        color: $darker-yellow;
    }

    .title {
        background: linear-gradient(to bottom, $darker-yellow, $dark-yellow);
        border: none;
        border-radius: 18px;
        padding: 1.5em;
        color: white;
        margin-top: 2em;
    }

    .col-8 {
        padding-left: 5em;
    }
}

#section-blog {
    .container {
        padding: 5em 0;
    }

    .col-lg-6 {
        margin: 0 2em;
    }

    .col-lg-8, .col-lg-4 {
        @media (max-width: 425px) {
            margin: 0 2em;
        }
    }

    .posts {
        background: linear-gradient(to bottom, $darker-yellow, $dark-yellow);
        border: none;
        border-radius: 18px;
        padding: 1.5em;
        color: white;

        h4 {
            color: $yellow !important;
        }

        hr {
            width: 100px;
            border-width: 5px;
            border-color: $lighter-yellow;
            border-radius: 50px;
            margin: 0;
        }
    }

    h1 {
        color: $darker-yellow;
    }

    h4 {
        color: $darker-yellow;
    }

    a {
        color: white;
        text-decoration: none;

        &:hover {
            color: $lighter-yellow;
            text-decoration: none;
        }
    }

    .posts-pagination {
        a {
            @include btn-link();
        }
    }

    ul {
        line-height: 1.8;
    }

    img {
        margin-bottom: 2em;
    }

    textarea {
        resize: none;
    }
}

.pagination-link {
    color: $darker-yellow;

    &:hover {
        color: $darker-yellow;
        text-decoration: underline;
    }
}

#section-locaux {
    & > div:last-child {
        margin: 5em;

        @media (max-width: 425px) {
            margin: 0;
        }
    }

    .see-more {
        @media (max-width: 425px) {
            display: block;
            width: 100%;
            text-align: center;
        }
    }
}

.intro {
    padding: 5em 0;

    img {
        @media (max-width: 425px) {
            display: none;
        }
    }
}

._title {
    color: $darker-yellow !important;
}

#section-partners {
    .container {
        div {
            padding-bottom: 5em;

            @media (max-width: 425px) {
                flex-wrap: wrap;
            }
        }
    }

    img {
        width: 80px;
    }
}

#mapid {
    height: 500px;
}

#scroll-top {
    position: fixed;
    display: none;
    right: 15px;
    bottom: 15px;
    z-index: 11;
    border-radius: 8px;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 2rem;
    color: white;
    background-color: $darker-yellow;

    &:hover {
        color: $yellow;
        box-shadow: 0 0 5px $darker-yellow !important;
    }
}

.nav-links {
    .page-numbers {
        color: $darker-yellow !important;

        &:hover {
            color: $darker-yellow;
        }
    }

    .current {
        color: black !important;
    }
}

.search-form {
    .input-group {
        input {
            border-bottom-left-radius: 50px;
            border-top-left-radius: 50px;
        }

        button {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            padding: 0 1em !important
        }
    }
}
