html {
  scroll-behavior: smooth;
}

p {
  line-height: 1.8 !important;
}

@media (max-width: 768px) {
  #infos-header-block {
    justify-content: center !important;
    align-items: center !important;
  }
}

#infos-header li {
  font-size: 1.5rem;
  color: #944a00;
}
@media (max-width: 425px) {
  #infos-header {
    display: none !important;
  }
}

#nav-menu {
  background-color: #805a0c;
}
#nav-menu a {
  color: white;
  transition: color 0.5s ease !important;
  -moz-transition: color 0.5s ease !important;
  -o-transition: color 0.5s ease !important;
  -webkit-transition: color 0.5s ease !important;
}
#nav-menu a:hover {
  color: #fce522;
}

.dropdown-menu {
  background-color: #805a0c;
  border: none;
  border-radius: 0;
}
.dropdown-menu a {
  color: white;
  transition: color 0.5s ease !important;
  -moz-transition: color 0.5s ease !important;
  -o-transition: color 0.5s ease !important;
  -webkit-transition: color 0.5s ease !important;
}
.dropdown-menu a:hover {
  color: #fce522;
  background-color: inherit;
}

#social-icons-nav li {
  font-size: 1.3rem;
}
@media (max-width: 768px) {
  #social-icons-nav {
    display: none !important;
  }
}

.active {
  color: #fce522 !important;
}

.btn-link {
  text-decoration: none !important;
  background-color: #944a00;
  padding: 1em 2em;
  color: white !important;
  border: none;
  border-radius: 50px;
  transition: all 0.5s ease !important;
  -moz-transition: all 0.5s ease !important;
  -o-transition: all 0.5s ease !important;
  -webkit-transition: all 0.5s ease !important;
}
.btn-link:hover {
  color: #fce522 !important;
  box-shadow: 0 0 5px #944a00 !important;
  text-decoration: none !important;
}

#main-header {
  height: 670px;
}
@media (max-width: 425px) {
  #main-header {
    height: 370px;
  }
}
#main-header .container {
  z-index: 1;
}
#main-header h1 {
  margin-top: 2.3em;
  color: #fce522;
}
@media (max-width: 425px) {
  #main-header h1 {
    display: none;
  }
}
#main-header p {
  color: white;
  font-size: 2.5rem;
}
@media (max-width: 425px) {
  #main-header p {
    font-size: 1.5rem;
    margin-top: 2em;
    align-items: center;
    text-align: justify;
  }
}
#main-header img {
  position: absolute;
  margin-top: 21.3em;
  z-index: 0;
}
@media (max-width: 425px) {
  #main-header img {
    display: none;
  }
}
@media (max-width: 768px) {
  #main-header img {
    margin-top: 30em;
  }
}
@media (max-width: 1024px) {
  #main-header img {
    margin-top: 26em;
  }
}
#main-header a {
  position: relative;
  z-index: 2;
  top: 50px;
}
@media (max-width: 425px) {
  #main-header a {
    display: block;
    top: 15px;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 1024px) {
  #main-header a {
    top: 13px;
  }
}
@media (max-width: 425px) {
  #main-header a:last-child {
    margin: 1em 0;
  }
}

#header {
  padding: 5em 0;
}
#header h1 {
  color: #fce522;
}
@media (max-width: 425px) {
  #header form input[type=submit] {
    width: 100%;
    margin-top: 1em;
  }
}
@media (max-width: 425px) {
  #header form input[type=search] {
    width: 100%;
  }
}

.section-header {
  padding: 5em 0;
}
.section-header h2, .section-header h4 {
  text-align: center;
}
.section-header h2 {
  color: #805a0c;
  margin-bottom: 0.5em;
}
@media (max-width: 425px) {
  .section-header h2 {
    font-size: 1.8rem;
  }
}
.section-header h4 {
  color: #944a00;
  font-weight: bold;
}
.section-header hr {
  width: 100px;
  border-width: 10px;
  border-color: #944a00;
  border-radius: 50px;
  margin: 0 auto;
}
.section-header .lead {
  width: 800px;
  margin: 0 auto;
}
@media (max-width: 425px) {
  .section-header .lead {
    display: none;
  }
}

#section-about {
  margin-bottom: 4em;
}
#section-about h3 {
  color: #944a00;
  font-weight: bold;
}
@media (max-width: 425px) {
  #section-about h3 {
    text-align: center;
  }
}
#section-about span {
  font-weight: bold;
  color: #944a00;
}
#section-about li {
  color: #944a00;
  font-size: 1.3rem;
  margin-right: 0.5em;
}
#section-about .col {
  padding: 0 2em;
}
@media (max-width: 425px) {
  #section-about .row div:first-child {
    margin-bottom: 3em;
  }
}
@media (max-width: 425px) {
  #section-about .row div a {
    display: block;
  }
}

#section-word {
  padding: 3em 0;
}
#section-word h5 {
  color: #fce522;
}
#section-word li {
  color: #ffeb6e;
  font-size: 3rem;
  padding: 0 0.3em;
}
#section-word p {
  color: white;
}
@media (max-width: 425px) {
  #section-word p {
    margin-top: 1em;
  }
}
@media (max-width: 425px) {
  #section-word ._text-muted {
    margin-top: 0;
  }
}
#section-word img {
  width: 100px;
}
@media (max-width: 425px) {
  #section-word .container > div {
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 425px) {
  #section-word .container > div #avatar {
    order: 2;
    margin-top: 1em;
  }
}

.section-expertise {
  margin-bottom: 3em;
}
.section-expertise li {
  font-size: 3.5rem;
  color: #944a00;
  padding-right: 0.5em;
}
@media (max-width: 425px) {
  .section-expertise li {
    font-size: 2.5rem;
  }
}
.section-expertise h4 {
  color: #944a00;
}
.section-expertise a {
  color: #944a00;
  transition: all 0.5s ease !important;
  -moz-transition: all 0.5s ease !important;
  -o-transition: all 0.5s ease !important;
  -webkit-transition: all 0.5s ease !important;
}
.section-expertise a:hover {
  text-decoration: underline;
}
.section-expertise .col {
  padding: 2em;
}
@media (max-width: 768px) {
  .section-expertise .expertise-infos p {
    display: none;
  }
}
@media (max-width: 425px) {
  .section-expertise .expertise-infos h4 {
    font-size: 1.3rem;
    color: black !important;
  }
}
@media (max-width: 768px) {
  .section-expertise .expertise-infos h4 {
    color: black !important;
  }
}

#section-contact-now {
  padding: 5em 0;
}
@media (max-width: 768px) {
  #section-contact-now .container {
    flex-direction: column;
    align-items: center !important;
    text-align: center !important;
  }
}
#section-contact-now p {
  color: #fce522;
  font-size: 1.5rem;
}
@media (max-width: 425px) {
  #section-contact-now p {
    font-size: 1.2rem;
  }
}
@media (max-width: 425px) {
  #section-contact-now a {
    display: block;
    width: 100%;
  }
}

.section-formations a {
  color: #ffeb6e;
  transition: all 0.5s ease !important;
  -moz-transition: all 0.5s ease !important;
  -o-transition: all 0.5s ease !important;
  -webkit-transition: all 0.5s ease !important;
}
.section-formations a:hover {
  color: #fce522;
  text-decoration: none;
}
.section-formations .col {
  padding: 0 3.8em;
}
@media (max-width: 425px) {
  .section-formations .col {
    padding: 0 1em;
  }
}
@media (max-width: 768px) {
  .section-formations .col {
    margin: 0 3em;
  }
}
@media (max-width: 768px) {
  .section-formations .col:last-child {
    margin-top: 5em;
  }
}
.section-formations .desc {
  background: linear-gradient(to bottom, #944a00, #805a0c);
  padding: 2em 2em;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  transition: all 0.5s ease !important;
  -moz-transition: all 0.5s ease !important;
  -o-transition: all 0.5s ease !important;
  -webkit-transition: all 0.5s ease !important;
}
.section-formations .desc:hover {
  box-shadow: 0 0 5px #944a00 !important;
}
.section-formations p {
  color: white;
  margin-top: 1em;
}

.section-news .col, .section-news .col-lg-4 {
  background: linear-gradient(to right, #944a00, #805a0c);
  border: none;
  border-radius: 18px;
  padding: 2em;
  padding-top: 5em;
  margin: 0 1em;
}
.section-news .col a:nth-child(1), .section-news .col-lg-4 a:nth-child(1) {
  color: #fce522;
  font-size: 1.5rem;
  transition: all 0.5s ease !important;
  -moz-transition: all 0.5s ease !important;
  -o-transition: all 0.5s ease !important;
  -webkit-transition: all 0.5s ease !important;
}
.section-news .col a:nth-child(1):hover, .section-news .col-lg-4 a:nth-child(1):hover {
  color: #fce522;
  text-decoration: none;
}
@media (max-width: 425px) {
  .section-news .col-lg-6:last-child {
    display: none;
  }
}
.section-news p {
  color: white;
}

._text-muted {
  color: white;
  opacity: 0.5;
}

.read-more {
  color: #ffeb6e;
  transition: all 0.5s ease !important;
  -moz-transition: all 0.5s ease !important;
  -o-transition: all 0.5s ease !important;
  -webkit-transition: all 0.5s ease !important;
}
.read-more:hover {
  color: #fce522;
  text-decoration: none;
}

#section-newsletter {
  padding: 5em 0;
  margin-top: 7em;
}
@media (max-width: 768px) {
  #section-newsletter .container {
    flex-direction: column;
    align-items: center !important;
    text-align: center !important;
  }
}
#section-newsletter p {
  color: #fce522;
  font-size: 1.5rem;
}
@media (max-width: 425px) {
  #section-newsletter p {
    font-size: 1.2rem;
  }
}
@media (max-width: 425px) {
  #section-newsletter input[type=submit] {
    margin-left: 0;
    margin-top: 1em;
    display: block;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 768px) {
  #section-newsletter input[type=submit] {
    margin-left: 0;
    margin-top: 1em;
  }
}
@media (max-width: 768px) {
  #section-newsletter input[type=email] {
    width: 100% !important;
  }
}

#header input[type=email], #header input[type=search], #section-newsletter input[type=email], #section-newsletter input[type=search] {
  border: none;
  border-radius: 50px;
  padding: 0.8em 1em;
  width: 80%;
}
#header input[type=search], #section-newsletter input[type=search] {
  width: 50%;
}
#header input[type=submit], #section-newsletter input[type=submit] {
  margin-left: 1em;
}
@media (max-width: 425px) {
  #header input[type=submit], #section-newsletter input[type=submit] {
    margin-left: 0;
  }
}

#section-testimonials .col {
  background: linear-gradient(to bottom, #944a00, #805a0c);
  border: none;
  border-radius: 18px;
  padding: 1.5em;
  margin: 2em 1em;
  margin-top: 5em;
  position: relative;
}
#section-testimonials img {
  width: 130px;
  border: 2px solid #944a00;
  border-radius: 50%;
  position: absolute;
  top: -80px;
  left: 200px;
}
@media (max-width: 320px) {
  #section-testimonials img {
    left: 80px !important;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  #section-testimonials img {
    left: 110px !important;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  #section-testimonials img {
    left: 135px;
  }
}
@media (max-width: 768px) {
  #section-testimonials img {
    left: 110px;
  }
}
#section-testimonials li {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  font-size: 2.5rem;
  color: #ffeb6e;
}
#section-testimonials h5 {
  color: #fce522;
}
#section-testimonials p {
  color: white;
}

footer {
  background: linear-gradient(to right, #944a00, #805a0c);
  padding: 3em 0;
  color: white;
}
footer h5, footer h3 {
  color: #fce522;
}
footer img {
  width: 250px;
}
footer .col hr {
  width: 100px;
  border-width: 5px;
  border-color: #ffeb6e;
  border-radius: 50px;
  margin: 0;
}
footer .col .fas {
  font-size: 1.3rem;
}
footer ul a {
  color: white;
  transition: color 0.5s ease !important;
  -moz-transition: color 0.5s ease !important;
  -o-transition: color 0.5s ease !important;
  -webkit-transition: color 0.5s ease !important;
}
footer ul a:hover {
  color: #fce522;
}
footer p a {
  color: #fce522;
  transition: all 0.5s ease !important;
  -moz-transition: all 0.5s ease !important;
  -o-transition: all 0.5s ease !important;
  -webkit-transition: all 0.5s ease !important;
}
footer p a:hover {
  color: #fce522;
  text-decoration: none;
}
footer .list-inline li {
  font-size: 1.3rem;
}
footer hr {
  border-width: 5px;
  border-color: #ffeb6e;
  border-radius: 50px;
}

#section-certifications .col-lg-4 {
  padding: 0 1em !important;
}
@media (max-width: 768px) {
  #section-certifications .col-lg-4 {
    margin: 3em 5em;
  }
}
@media (max-width: 425px) {
  #section-certifications .container .row .col-lg-4:nth-child(1), #section-certifications .container .row .col-lg-4:nth-child(2) {
    margin-bottom: 3em;
  }
}
#section-certifications h4 {
  color: #ffeb6e;
}

#section-fdfp li {
  color: #944a00;
  font-size: 3.5rem;
  padding-right: 0.5em;
}
#section-fdfp .col {
  padding: 2em;
}
@media (max-width: 425px) {
  #section-fdfp h4 {
    font-size: 1.3rem;
  }
}

#section-contact {
  margin-bottom: 5em;
}
#section-contact .col-lg-4 {
  background: linear-gradient(to bottom, #944a00, #805a0c);
  border: none;
  border-radius: 18px;
  padding: 2em;
  color: white;
}
@media (max-width: 768px) {
  #section-contact .col-lg-4 {
    margin: 0 1em;
    margin-top: 2em;
  }
}
#section-contact .col-lg-4 a {
  color: white;
}
#section-contact .col-lg-4 a:hover {
  color: #fce522;
  text-decoration: none;
}
#section-contact li {
  font-size: 1.3rem;
}
#section-contact input[type=text], #section-contact input[type=email], #section-contact textarea {
  border: 1px solid black;
  border-radius: 18px;
  border-color: #944a00;
  padding: 0.8em 1em !important;
}
#section-contact input[type=text], #section-contact input[type=email] {
  border-radius: 50px !important;
}
@media (max-width: 425px) {
  #section-contact input[type=text], #section-contact input[type=email] {
    width: 100% !important;
    display: block !important;
  }
}
@media (max-width: 425px) {
  #section-contact input[type=submit] {
    width: 100%;
    display: block;
  }
}
#section-contact h4 {
  color: #fce522;
}
#section-contact hr {
  width: 100px;
  border-width: 5px;
  border-color: #ffeb6e;
  border-radius: 50px;
  margin: 0;
}
@media (max-width: 768px) {
  #section-contact form > div {
    flex-direction: column;
  }
}

#section-presentation {
  margin-top: 5em;
}
#section-presentation h3 {
  color: #944a00;
  font-weight: bold;
}
#section-presentation span {
  font-weight: bold;
  color: #944a00;
}
#section-presentation li {
  color: #944a00;
  font-size: 1.3rem;
  margin-right: 0.5em;
}
#section-presentation .col {
  padding: 0 2em;
}
@media (max-width: 425px) {
  #section-presentation img {
    display: none;
  }
}
@media (max-width: 768px) {
  #section-presentation img {
    width: 400px;
  }
}
@media (max-width: 1024px) {
  #section-presentation img {
    width: 450px;
  }
}

#section-team .team-card {
  padding: 0 4em;
}
#section-team .team-card div {
  background: linear-gradient(to bottom, #944a00, #805a0c);
  padding: 0.3em 0.5em;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  transition: all 0.5s ease !important;
  -moz-transition: all 0.5s ease !important;
  -o-transition: all 0.5s ease !important;
  -webkit-transition: all 0.5s ease !important;
}
#section-team .team-card div:hover {
  box-shadow: 0 0 5px #944a00 !important;
}
#section-team .team-card div h5 {
  color: #fce522;
}
#section-team .team-card div p {
  margin-bottom: 0.4em;
}

#section-jobs {
  margin: 5em 0;
}
#section-jobs h4 {
  color: #944a00;
}
#section-jobs .title {
  background: linear-gradient(to bottom, #944a00, #805a0c);
  border: none;
  border-radius: 18px;
  padding: 1.5em;
  color: white;
  margin-top: 2em;
}
#section-jobs .col-8 {
  padding-left: 5em;
}

#section-blog .container {
  padding: 5em 0;
}
@media (max-width: 425px) {
  #section-blog .col-lg-6 {
    margin: 0 2em;
  }
}
@media (max-width: 425px) {
  #section-blog .col-lg-8, #section-blog .col-lg-4 {
    margin: 0 2em;
  }
}
#section-blog .posts {
  background: linear-gradient(to bottom, #944a00, #805a0c);
  border: none;
  border-radius: 18px;
  padding: 1.5em;
  color: white;
}
#section-blog .posts h4 {
  color: #fce522 !important;
}
#section-blog .posts hr {
  width: 100px;
  border-width: 5px;
  border-color: #ffeb6e;
  border-radius: 50px;
  margin: 0;
}
#section-blog h1, #section-blog h4 {
  color: #944a00;
}
#section-blog a {
  color: white;
  text-decoration: none;
  transition: all 0.5s ease !important;
  -moz-transition: all 0.5s ease !important;
  -o-transition: all 0.5s ease !important;
  -webkit-transition: all 0.5s ease !important;
}
#section-blog a:hover {
  color: #ffeb6e;
  text-decoration: none;
}
#section-blog .posts-pagination a {
  text-decoration: none !important;
  background-color: #944a00;
  padding: 1em 2em;
  color: white !important;
  border: none;
  border-radius: 50px;
}
#section-blog .posts-pagination a:hover {
  color: #fce522 !important;
  box-shadow: 0 0 5px #944a00 !important;
  text-decoration: none !important;
}
@media (max-width: 375px) {
  #section-blog .posts-pagination {
    display: none !important;
  }
}
#section-blog ul {
  line-height: 1.8;
}
#section-blog img {
  margin-bottom: 2em;
}
#section-blog textarea {
  resize: none;
}

.pagination-link {
  color: #944a00;
  transition: all 0.5s ease !important;
  -moz-transition: all 0.5s ease !important;
  -o-transition: all 0.5s ease !important;
  -webkit-transition: all 0.5s ease !important;
}
.pagination-link:hover {
  color: #944a00;
  text-decoration: underline;
}

#section-locaux > div:last-child {
  margin: 5em;
}
@media (max-width: 425px) {
  #section-locaux > div:last-child {
    margin: 0;
  }
}
@media (max-width: 425px) {
  #section-locaux .see-more {
    display: block;
    width: 100%;
    text-align: center;
  }
}

.intro {
  padding: 5em 0;
}
@media (max-width: 425px) {
  .intro img {
    display: none;
  }
}

._title {
  color: #944a00 !important;
}

#section-partners .container div {
  padding-bottom: 5em;
}
@media (max-width: 425px) {
  #section-partners .container div {
    flex-wrap: wrap;
  }
}

#mapid {
  height: 500px;
}

#scroll-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 11;
  border-radius: 8px;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 2rem;
  color: white;
  background-color: #944a00;
  transition: all 0.5s ease !important;
  -moz-transition: all 0.5s ease !important;
  -o-transition: all 0.5s ease !important;
  -webkit-transition: all 0.5s ease !important;
}
#scroll-top:hover {
  color: #fce522;
  box-shadow: 0 0 5px #944a00 !important;
}

.nav-links .page-numbers {
  color: #944a00 !important;
  transition: color 0.5s ease !important;
  -moz-transition: color 0.5s ease !important;
  -o-transition: color 0.5s ease !important;
  -webkit-transition: color 0.5s ease !important;
}
.nav-links .page-numbers:hover {
  color: #944a00;
}
.nav-links .current {
  color: black !important;
}

.search-form .input-group input {
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  border: 1px solid black;
  border-color: #944a00;
}
.search-form .input-group button {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  padding: 0 1em !important;
}

/*# sourceMappingURL=style.css.map */
